[submodule "pandoc/pandoc-templates"]
	path = pandoc/pandoc-templates
	url = https://github.com/mclearc/pandoc-templates.git
[submodule "pandoc/styles"]
	path = pandoc/styles
	url = https://github.com/mclearc/styles.git
